Gemfile.lock
vendor/gems/
vendor/bundler
vendor/bundler64
.bundle
db/*.sqlite3
db/*.sqlite3-journal
db/*.db
db/schema.rb
log/*.log
tmp/
coverage
.sass-cache/
.rbenv-version
public/assets/*.css
public/assets/*.js
public/assets/*.gz
public/assets/*.yml
