%div{:id => "ac_form", :style => "clear:both;margin:5px"}
  %h3
    %a{:href => "#"} このサービスについて
  .clearfix
    %p
      %b
        なにこれ
    %p
      誰でもみんな <a href="http://twitter.com/todesking" target="_blank">@todesking</a> を罵倒したい。そんな需要にこたえるサービスです。
    %p
      %b
        罵倒とは
    %p
      <a href="http://togetter.com/li/50724" target="_blank">こちら</a>をご覧ください。

  %h3
    %a{:href => "#"} 操作方法
  .clearfix
    %p
      %b
        罵倒対象文の入力
    %p
      テキストボックスに罵倒対象となるツイートまたはキーワードを入力するかコピー＆ペーストしてください。送信するをクリックすると適切な罵倒文候補一覧が表示されます。
    %p
      %b
        罵倒する
    %p
      罵倒文候補一覧が表示されたらお好みの罵倒文を選び、罵倒をクリックするかお使いの Twitter クライアントに貼り付けてご利用ください。
