.container
  %footer.footer
    %hr
    %p.pull-right.pager
      %a{:href=>"http://id774.net"}
        &larr; Home
      %a{:href=> root_path}
        &uarr; Top
    %p
      The public web contents published by me except for the quotation are licensed under the following condition.<br>
      Code dual licensed under the <a href="http://www.gnu.org/copyleft/gpl.html">GPLv3</a>/<a href="http://www.gnu.org/copyleft/lesser.html">LGPLv3</a>. Documentation licensed under <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/">CC (BY-ND) 3.0</a>.
